.hide {
  display: none;
}

 header {
  height: 50px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  font-size: 40px;
}

section.intro p {
  font-size: 15px;
  height: 50px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
}

section.intro button {
  width: 50%;
  background-color: #922192;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 350px;
  border-radius: 12px;
}

section.intro button:hover {
  box-shadow: 10px 10px 5px #aaaaaa;
}

section.intro table.hide {
   display: none
  }


section.questionBox {
    font-size: 25px;
    height: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: normal;
    text-align: center;
    margin-top: 50px;
} 

section.choicesBox button.show {
    width: 25%;
    background-color: #922192;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    font-weight: bolder;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 500px;
    border-radius: 12px;
}

/* section.highscores  #scoresTable{
    border: 1px solid black;
    width: 100%;
}

th, td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #7e0b4a;
  color: white;
} */

section.highscores {
  text-align: center;
}

table, td {
  text-align: center;
  margin-top: 40px;
  width: 50%
}

th {
  text-align: center;
  background-color: purple;
  color: white;
}

th, td {
    padding: 15px;
    text-align: center;
}

.showText{
    border-top: 1px solid grey;
    font-style: italic;
    text-align: center;
}

section.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }

 section.highScore {
        position: absolute;
        top: 8px;
        left: 16px;
        font-size: 18px;
 } 

 section.highscores .hide {
   display: none;
 }


 a {
    color: purple;
    text-decoration: none;
  }

  #results{
      text-align: center;
      color: purple;
      font-weight:bolder;
     
  }

  #submit {
  
    background-color: #922192;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 10px;
    font-weight: bolder;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }

  #res{
    text-align: center;
    color: purple;
    font-weight:bolder;
  }
